#body {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

#color {
    height: 50px;
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    /* border: none; */
}

#color:hover {
    background-color: #d4d4d4;
    cursor: pointer;
    color: rgb(0, 0, 0);
    
}

.btn {
    font-size: 20px;
    background: rgb(255, 0, 0);
    font-weight: bold;
    margin-left: 20px;
    border: none;
}

.btn:hover {
    background: rgb(255, 139, 62);
    color: rgb(59, 59, 59);
}